<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AR Tour in SKKU</title>
    <script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>
    <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.0.0/dist/aframe-extras.min.js"></script>
    <script>
        function registerMarker(tag, id) {
            AFRAME.registerComponent(tag, {
                init: function() {
                    console.log(`${tag} is registered and initialized`)
                    const markerA = document.querySelector(id);
                    const entityA = markerA.getElementsByTagName("a-entity")[0];
                    entityA.addEventListener("click", function(ev, target) {
                        if (entityA.getAttribute("state") === "true") {
                            const mrID = entityA.id.slice(2, 4)
                            console.log("clicked");
                            console.log(`${mrID} is found`);
                            console.log('ID >>', mrID);
                            localStorage.setItem(mrID, 1);

                            /* 저장 이벤트를 줄 땐 여기서 mrID를 로컬스토리지에 저장하는 방식 */
                            /* 로컬스토리지에 이미 저장되어 있으면 패스, 없으면 저장 */
                            if (entityA.hasAttribute("animation-mixer")) {
                                entityA.removeAttribute("animation-mixer");
                            }
                            entityA.setAttribute(
                                "animation-mixer",
                                "loop:once; clampWhenFinished:true"
                            );
                            entityA.setAttribute("state", "false");
                        }

                    });
                    this.el.addEventListener('model-loaded', e => {
                        document.querySelector(".loader").style.visibility = "hidden";
                    })
                },
            });
        }

        const markers = [
            ["amarker", "#AmarkerA"],
            ["bmarker", "#BmarkerB"],
            ["cmarker", "#CmarkerC"],
            ["dmarker", "#DmarkerD"],
            ["emarker", "#EmarkerE"],
            ["fmarker", "#FmarkerF"],
            ["gmarker", "#GmarkerG"],
        ]
        markers.forEach((marker) => {
            registerMarker(marker[0], marker[1])
        })
    </script>
    <script src="script/dogam.js"></script>
    <script src="https://kit.fontawesome.com/04c49f1c2f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/loader.css">

    <!-- 원형% 플러그인용 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="script//piechart.js"></script>
    <script src="script//pie.js"></script>
</head>

<body style="margin: 0px; overflow: hidden">
    <div class="loader"></div>
    <a-scene vr-mode-ui='enabled: false' embedded arjs='sourceType: webcam; sourceWidth:1280; sourceHeight:960; displayWidth: 1280; displayHeight: 960; debugUIEnabled: false;'>
        <a-marker amarker id="AmarkerA" emitevents="true" cursor="rayOrigin: mouse" preset="custom" type="pattern" url="/marker-patts/patternA.patt">
            <a-entity></a-entity>
        </a-marker>
        <a-marker bmarker id="BmarkerB" emitevents="true" cursor="rayOrigin: mouse" preset="custom" type="pattern" url="/marker-patts/patternB.patt">
            <a-entity></a-entity>
        </a-marker>
        <a-marker cmarker id="CmarkerC" emitevents="true" cursor="rayOrigin: mouse" preset="custom" type="pattern" url="/marker-patts/patternC.patt">
            <a-entity></a-entity>
        </a-marker>
        <a-marker dmarker id="DmarkerD" emitevents="true" cursor="rayOrigin: mouse" preset="custom" type="pattern" url="/marker-patts/patternD.patt">
            <a-entity></a-entity>
        </a-marker>
        <a-marker emarker id="EmarkerE" emitevents="true" cursor="rayOrigin: mouse" preset="custom" type="pattern" url="/marker-patts/patternE.patt">
            <a-entity></a-entity>
        </a-marker>
        <a-marker fmarker id="FmarkerF" emitevents="true" cursor="rayOrigin: mouse" preset="custom" type="pattern" url="/marker-patts/patternF.patt">
            <a-entity></a-entity>
        </a-marker>
        <a-marker gmarker id="GmarkerG" emitevents="true" cursor="rayOrigin: mouse" preset="custom" type="pattern" url="/marker-patts/patternG.patt">
            <a-entity></a-entity>
        </a-marker>
        <a-entity camera></a-entity>
    </a-scene>

    <!-- 도감 버튼 -->
    <div class="buttonContainer">
        <button class="btn js-click-modal" data-action="dogam">
            <i class="fas fa-torah"></i>
        </button>
    </div>

    <!-- 도감 팝업 -->
    <div class="container">
        <div class="modal">
            <div class="header">
                <button class="btn js-close-modal" data-action="dogam">
                    <i class="fas fa-times"></i>
                </button>
                <div class="info">
                    <div class="headerLeft">
                        <div class="title">SKKU 유생 도감</div>
                        <div class="subtitle">
                            <p>몇 명의 유생을 찾았는지 <br>확인해볼까요?</p>
                        </div>
                    </div>
                    <div class="logoBox">
                        <img class="logo" src="logo/usaeng.png" />
                    </div>
                </div>

            </div>
            <div class="body">
                <div class="calScore">
                    <div class="chart" data-percent="55"></div>
                    <div class="scoreTextbox">
                        <p class="scoreText">Find : 23</p>
                        <p class="scoreText">Total : 45</p>
                    </div>
                </div>
                <div class="showScore"></div>
            </div>

        </div>
    </div>

    <script>
        let loadingDiv;
        const assets = {
            A: ["A1", "A2", "A3", "A4", "A5", "A6"],
            B: ["B1"],
            C: ["C1", "C2", "C3", "C4", "C5", "C6", "C7", "C8", "C9"],
            D: ["D1", "D2", "D3", "D4", "D5", "D6"],
            E: ["E1"],
            F: ["F1", "F2"],
            G: ["G1", "G2", "G3", "G4"]
        };
        const init1 = () => {
            const markers = document.querySelectorAll("a-marker");
            loadingDiv = document.getElementsByClassName("loader")[0];
            markers.forEach((marker) => {
                marker.addEventListener("markerFound", (e) => {
                    console.log("marker is found", marker.id);
                    loadingDiv.style.visibility = "visible"
                    const marker_assets = assets[marker.id[0]];
                    var randIdx = Math.floor(Math.random() * marker_assets.length);
                    var randAsset = marker_assets[randIdx];
                    const entity = marker.getElementsByTagName("a-entity")[0];

                    console.log('localStorage:', localStorage);

                    var cnt = 0;

                    //해당 건물 캐릭터 다 찾았는지 확인
                    for (i = 1; i <= marker_assets.length; i++) {
                        console.log(marker.id[0] + i, '있는지 확인');
                        if (localStorage.getItem(marker.id[0] + i) == 1) {
                            console.log('있음');
                            cnt += 1;
                        }
                    }
                    console.log('개수', cnt);
                    if (cnt == marker_assets.length) {
                        console.log("해당 건물의 캐릭터 다 찾음");
                    } else {
                        //로컬 스토리지에 이미 있는(이미 찾은) 캐릭터면 다시 랜덤값 뽑음
                        while (localStorage.getItem(marker.id[0] + (randIdx + 1)) == 1) {
                            console.log('already found character', marker.id[0] + (randIdx + 1));
                            randIdx = Math.floor(Math.random() * marker_assets.length);
                            randAsset = marker_assets[randIdx];
                        }

                        console.log('없는 값 >>', randIdx + 1);

                        entity.setAttribute("id", `ae${randAsset}`);
                        entity.setAttribute("gltf-model", `url(/models/${randAsset}.gltf)`);
                        entity.setAttribute("state", "true");

                        console.log(marker.id[0] + (randIdx + 1), '클릭하면 이제 추가해줍니다');

                    }

                });
                marker.addEventListener("markerLost", (e) => {
                    console.log("marker is lost", marker.id);
                    loadingDiv.style.visibility = "hidden"
                    const entity = marker.getElementsByTagName("a-entity")[0];
                    entity.removeAttribute("id");
                    entity.removeAttribute("gltf-model");
                    entity.removeAttribute("state");
                });
            });
        };
        init1();
    </script>
</body>

</html>